<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <audio>
        <device>1</device>
        <arraysize>2048</arraysize>
        <reduced_arraysize>1024</reduced_arraysize>
    </audio>
    <philips_hue>
        <key>BF2f0oKYa4yj0oheEf4KUQuSZTs5ASROmdTOE7nU</key>
        <preserve_color>false</preserve_color>
    </philips_hue>
    <glsl>
        <resolution>1024</resolution>
    </glsl>
</config>
