<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <log>
        <level>Debug</level>
    </log>
    <audio>
        <enabled>true</enabled>
        <list_inputs>true</list_inputs>
        <device>51</device>
        <arraysize>2048</arraysize>
        <reduced_arraysize>512</reduced_arraysize>
    </audio>
    <spotify>
        <enabled>false</enabled>
    </spotify>
    <beatdetection>
        <enabled>true</enabled>
        <framerate>60</framerate>
    </beatdetection>
    <philips_hue>
        <enabled>false</enabled>
        <key>BF2f0oKYa4yj0oheEf4KUQuSZTs5ASROmdTOE7nU</key>
        <preserve_color>false</preserve_color>
    </philips_hue>
    <artnet>
        <enabled>true</enabled>
        <framerate>30</framerate>
        <width_m>1.0</width_m>
        <height_m>1.85</height_m>
        <devices>
            <device>
                <ip>192.168.1.100</ip>
                <width_px>5</width_px>
                <height_px>30</height_px>
                <width_m>0.5</width_m>
                <height_m>1.85</height_m>
                <offset_x_m>0.25</offset_x_m>
                <offset_y_m>0.0</offset_y_m>
                <patch_mode>
                    <snake>true</snake>
                    <direction>vertical</direction>
                    <start_x>right</start_x>
                    <start_y>bottom</start_y>
                </patch_mode>
            </device>
            <device>
                <ip>192.168.1.101</ip>
                <width_px>30</width_px>
                <height_px>1</height_px>
                <width_m>1.0</width_m>
                <height_m>0.05</height_m>
                <offset_x_m>0.0</offset_x_m>
                <offset_y_m>1.0</offset_y_m>
                <patch_mode>
                    <snake>true</snake>
                    <direction>horizontal</direction>
                    <start_x>left</start_x>
                    <start_y>top</start_y>
                </patch_mode>
            </device>
            <device>
                <ip>192.168.1.103</ip>
                <width_px>25</width_px>
                <height_px>2</height_px>
                <width_m>0.75</width_m>
                <height_m>0.35</height_m>
                <offset_x_m>0.0</offset_x_m>
                <offset_y_m>1.0</offset_y_m>
                <patch_mode>
                    <snake>true</snake>
                    <direction>horizontal</direction>
                    <start_x>right</start_x>
                    <start_y>top</start_y>
                </patch_mode>
            </device>
            <device>
                <ip>192.168.1.104</ip>
                <width_px>92</width_px>
                <height_px>1</height_px>
                <width_m>1.50</width_m>
                <height_m>0.3</height_m>
                <offset_x_m>0.0</offset_x_m>
                <offset_y_m>1.0</offset_y_m>
                <patch_mode>
                    <snake>true</snake>
                    <direction>horizontal</direction>
                    <start_x>left</start_x>
                    <start_y>top</start_y>
                </patch_mode>
            </device>
        </devices>
    </artnet>
    <glsl>
        <window_width>50</window_width>
        <window_height>300</window_height>
        <framerate>60</framerate>
        <shaderQueue>
            <shader>Lagerfeuer.frag</shader>
            <shader>off.frag</shader>
            <shader>Nachtlicht.frag</shader>
            <shader>Gedimmt.frag</shader>
            <shader>Nordlichter.frag</shader>
            <shader>Miami.frag</shader>
            <shader>Bunt.frag</shader>
            <shader>Konzentration.frag</shader>
        </shaderQueue>
        <enabled>true</enabled>
        <resolution>600</resolution>
    </glsl>
    <gloutput>
        <framerate>60</framerate>
        <enabled>false</enabled>
        <width>5</width>
        <height>30</height>
        <zoom>20</zoom>
    </gloutput>
    <httpInterface>
        <enabled>true</enabled>
        <port>65037</port>
    </httpInterface>
</config>
