<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Regeln für AudioReader" Description="Codeanalyseregeln für AudioReader.csproj." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" />
  </Rules>
</RuleSet>